alimiji_filmns_sdk==0.0.3
pandas==2.3.1
plotly-express==0.4.1
streamlit==1.47.0
plotly==6.2.0
pillow==11.3.0
# API backend
fastapi==0.116.1
uvicorn==0.35.0
pydantic==2.11.7
pyarrow==21.0.0
httpx==0.28.1

# ML & data
scikit-learn==1.4.2
pandas==2.3.1
numpy==2.2.6
mlflow==2.12.1

# Utilitaires
python-dotenv==1.1.1
